<div class="row mb-3">
  <div class="col-md-12">
    <h1 class="display-4">
      Your activity history
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-4 mb-3">
    <div class="card mb-3">
      <div class="card-body">
        <p class="lead">Log an activity:</p>

        <%= render "form", log: @new_log %>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <%= render partial: "logs_search_form" %>
      </div>
    </div>
  </div>

  <div class="col-md-8 mb-3">
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Activity</th>
            <th scope="col">Distance</th>
            <th scope="col">Duration (miles)</th>
            <th scope="col">Calories</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <%= render collection: @logs, partial: "table_row", as: :log %>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-center">
      <%= paginate @logs, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
